p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
button {
  padding: 5px;
  text-align: center;
  border: none;
  background-color: rgb(107, 123, 209);
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 90%;
  margin: 20px;
}
form {
  width: 200px;
  padding-left: 800px;
  text-align: center;
}
.text {
  padding: 10px;
  margin: 10px;
  border: 2px solid rgb(78, 77, 77);
  border: 10;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  width: 90%;
}
.pass {
  padding: 10px;
  margin: 10px;
  border: 2px solid rgb(78, 77, 77);
  border: 10;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  width: 90%;
}
ul {
  list-style-type: ;
  margin: 0;
  padding: 10px;
}
li {
  display: inline;
}
h1 {
  text-align: center;
  padding-right: 90px;
}
.sign-up-button {
  padding-left: 880px;
}
.logout-button {
  position: absolute;
  bottom: 0px;
  right: 50px;
  text-align: center;
}
